
<div id="home-container" class="container-fluid text-center lh-1" style="margin-top: 150px;">
    <h1 class="display-2">Welcome to Expense Manager</h1>
    <p class="fs-4">An easy way to manage your expenses</p>
    <p class="fs-4">Track and be in charge of your expenses</p>
    <button class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign up Now!</button>
</div>

<%- include('_signup.ejs') %>

<%- include('_login.ejs') %>

<%- include('_forgotPassword.ejs') %>
